*
    margin: 0
    padding: 0
    box-sizing: border-box

html 
  scroll-behavior: smooth
        

ul, ol
    list-style-type: none

.container
    max-width: 940px    
    margin: 0 auto
    // padding: 0 15px

